extends ../layout

block header
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.10.4/themes/redmond/jquery-ui.css')
    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='/bower/phaser/build/phaser.min.js')
    script(src='//code.jquery.com/ui/1.11.0/jquery-ui.js')
    script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/faster5/style.css')
    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='//cdn.techpines.io/jquery.event.drag-2.0.js')
    script(src='/socket.io/socket.io.js')
    script(src='/faster5/script.js')

block content
    canvas(width=400, height=711)
    div.content
        div#login.center-vertical
            div#loginForm.well(method='POST', action='')
                h3 Faster5 Login
                .form-group
                    label Username
                    input#name.form-control(type='text', name='user', placeholder='user name')
                .form-group
                    label Password
                    input#pass.form-control(type='password', name='pass', placeholder='password')
                .controls
                    button(onclick='App.login()').btn.btn-primary.button-sign-in
                        span.glyphicon.glyphicon-user
                        | Sign In
                .clearfix
        span#test(style='color:red;') debug