doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
    //script(src='/bower/jquery/dist/jquery.min.js')
    //script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
    // header
    block header
  body
    block content
