extends ../layout

block header
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdn.techpines.io/jquery.event.drag-2.0.js')
    script(src='/socket.io/socket.io.js')
    script(src='/faster5/faster5.js')

block content
    canvas(width=800, height=400, style='margin: 0 auto;background-color:#E5E5E5;')