extends ../layout

block content
   div.full_screen
      p this is a game
      div.icon_container
         div.icon_0_0(style='top:0;left:0px;')
         div.icon_1_0(style='top:0;left:160px;')
         div.icon_2_0(style='top:0;left:320px;')
         div.icon_3_0(style='top:0;left:480px;')
         div.icon_4_0(style='top:0;left:640px;')
         div.icon_5_0(style='top:0;left:800px;')
         div.icon_6_0(style='top:0;left:960px;')
         div.icon_7_0(style='top:0;left:1120px;')
         div.icon_8_0(style='top:0;left:1280px;')
         div.icon_9_0(style='top:0;left:1440px;')
      div.icon_container
         div.icon_0_1(style='top:160px;left:0px;')
         div.icon_1_1(style='top:160px;left:160px;')
         div.icon_2_1(style='top:160px;left:320px;')
         div.icon_3_1(style='top:160px;left:480px;')
         div.icon_4_1(style='top:160px;left:640px;')
         div.icon_5_1(style='top:160px;left:800px;')
         div.icon_6_1(style='top:160px;left:960px;')
         div.icon_7_1(style='top:160px;left:1120px;')
         div.icon_8_1(style='top:160px;left:1280px;')
         div.icon_9_1(style='top:160px;left:1440px;')
      div.icon_container
         div.icon_0_2(style='top:320px;left:0px;')
         div.icon_1_2(style='top:320px;left:160px;')
         div.icon_2_2(style='top:320px;left:320px;')
         div.icon_3_2(style='top:320px;left:480px;')
         div.icon_4_2(style='top:320px;left:640px;')
         div.icon_5_2(style='top:320px;left:800px;')
         div.icon_6_2(style='top:320px;left:960px;')
         div.icon_7_2(style='top:320px;left:1120px;')
         div.icon_8_2(style='top:320px;left:1280px;')
         div.icon_9_2(style='top:320px;left:1440px;')
