extends ../layout
block header
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/layout.js')
img(src='/images/sprites.png' style='display:none;')
img(src='/images/screenshoot_1.jpg' style='display:none;')
block content
    div.main_container
        div.center_content
            div.android.click
                div.android-content
                    div.screenshoot_1
            div.content
                h1.text-large UP and DOWN
                p.text-normal.content-sub Connecting people through <br> shared interests
                ul
                    li Topics for every interest
                    li Play against friends in real time
                    li Discover like-minded people
                    li And it's FREE!
                div.ggplay
                    a(href='https://play.google.com/store/apps/details?id=com.oic.game.merillo&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1')
                        img(src='/images/ggplay.png' alt='Get it on Google Play' width=170 height=50)
        div#icon_wrapper_50.icon_container.opacity_01
            div.icon_0_2.icon_base_50(style='')
            div.icon_1_2.icon_base_50(style='')
            div.icon_2_2.icon_base_50(style='')
            div.icon_3_2.icon_base_50(style='')
            div.icon_4_2.icon_base_50(style='')
            div.icon_5_2.icon_base_50(style='')
            div.icon_6_2.icon_base_50(style='')
            div.icon_7_2.icon_base_50(style='')
            div.icon_8_2.icon_base_50(style='')
            div.icon_9_2.icon_base_50(style='')
        div#icon_wrapper_100.icon_container.opacity_06
            div.icon_0_1.icon_base_100(style='')
            div.icon_1_1.icon_base_100(style='')
            div.icon_2_1.icon_base_100(style='')
            div.icon_3_1.icon_base_100(style='')
            div.icon_4_1.icon_base_100(style='')
            div.icon_5_1.icon_base_100(style='')
            div.icon_6_1.icon_base_100(style='')
            div.icon_7_1.icon_base_100(style='')
            div.icon_8_1.icon_base_100(style='')
            div.icon_9_1.icon_base_100(style='')
        div#icon_wrapper_150.icon_container
            div.icon_0_0.icon_base_150(style='')
            div.icon_1_0.icon_base_150(style='')
            div.icon_2_0.icon_base_150(style='')
            div.icon_3_0.icon_base_150(style='')
            div.icon_4_0.icon_base_150(style='')
            div.icon_5_0.icon_base_150(style='')
            div.icon_6_0.icon_base_150(style='')
            div.icon_7_0.icon_base_150(style='')
            div.icon_8_0.icon_base_150(style='')
            div.icon_9_0.icon_base_150(style='')
        script(type='text/javascript').
            var elem50 = document.getElementById('icon_wrapper_50');
            var elem100 = document.getElementById('icon_wrapper_100');
            var elem150 = document.getElementById('icon_wrapper_150');

            window.addEventListener("mousemove", mouseMove);

            function mouseMove(event) {
                var windowWidth = window.innerWidth;
                var windowHeight = window.innerHeight;
                var deltaX = (event.clientX - windowWidth / 2) / windowWidth;
                var deltaY = (event.clientY - windowHeight / 2) / windowHeight;
                var transX, transY;

                for (i = 0; i < elem50.childNodes.length; i++) {
                    transX = deltaX * 5;
                    transY = deltaY * 5;
                    elem50.childNodes[i].style = 'transform: translate3d(' + transX + 'px, ' + transY + 'px, 0px);';
                }

                for (i = 0; i < elem100.childNodes.length; i++) {
                    transX = deltaX * 10;
                    transY = deltaY * 10;
                    elem100.childNodes[i].style = 'transform: translate3d(' + transX + 'px, ' + transY + 'px, 0px);';
                }

                for (i = 0; i < elem150.childNodes.length; i++) {
                    transX = deltaX * 35;
                    transY = deltaY * 35;
                    elem150.childNodes[i].style = 'transform: translate3d(' + transX + 'px, ' + transY + 'px, 0px);'
                        + '-webkit-transform: translate3d(' + transX + 'px, ' + transY + 'px, 0px);';
                }
            }
        div.copyright Copyright ©
            a(href='oicmap.com') oicmap.com
            span   2016-2017. All rights reserved.